article[id="experiences_professionnelles"]>section,
article[id="formation"]>section
{
    grid-template-columns: min-content 1fr ;
    column-gap: var(--base-padding);
}
article[id="experiences_professionnelles"]>section>time,
article[id="formation"]>section>time
{
    grid-template-columns: min-content min-content;
    grid-column: 1;
    column-gap: var(--base-padding);
}

article[id="experiences_professionnelles"]>section>header,
article[id="formation"]>section>header
{
    grid-column: 2;
}

article[id="experiences_professionnelles"]>section>span,
article[id="formation"]>section>span,
article[id="experiences_professionnelles"]>section>address,
article[id="formation"]>section>address
{
    grid-column: 2 ;
}



article[id="experiences_professionnelles"]>section>address,
article[id="formation"]>section>address
{
    text-align: right;
}


article[id="experiences_professionnelles"]>section>time:before,
article[id="formation"]>section>time:before
{
    content: attr(datetime);
}
article[id="experiences_professionnelles"]>section>time:after,
article[id="formation"]>section>time:after
{
    content: " : ";
}