
/*structure des articles de base*/
article
{
    padding: var(--base-padding);
    background-color: var(--color-theme-article);
    border-radius: 0.3em ;
    row-gap: var(--base-padding);
    
}



/*article[id="presentation"]
{
    grid-column: 1 / span 2;
}

article[id="competences_clefs"],
article[id="environnement_technique"],
article[id="centres_d_interet"]
{
    grid-column:  1;
}*/

/*
article[id="competences_clefs"]
{
    grid-row: 2 ;
}

article[id="environnement_technique"]
{
    grid-row: 3 / span 3;
}

article[id="centres_d_interet"]
{
    grid-column: 1;
}*/

article>header
{
    /*grid-row: 1;*/
    border-bottom: darkturquoise solid;
}

img
{
    border-radius: 10%;
}



