/*everything is grid in my lair*/
body,
body *
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
}

body
{
    font-size: var(--font-size);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--color-theme-background);
    color: var(--color-theme-text);
    padding: var(--body-padding);
    gap: var(--body-padding);
}
