/*base document*/
main
{
    max-width: var(--main-size);
    margin-left: auto;
    margin-right: auto;
    gap: var(--base-padding);
}

/*fonts*/
header
{
    font-size: 1.2em;
}

body>header
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


footer
{
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    font-size: 0.7em;
    text-align: right;
}
